<form action="<%= action %>" method="GET" class="needs-validation" novalidate>
  <div class="form-group row">
    <label for="expression" class="sr-only">Bookmark or Folder Name</label>
    <div class="col-md-10">
      <input type="text" class="form-control" id="expression" name="expression" value="<%= searchOptions.expression %>"
        placeholder="<%= expressionPlaceholder %>" maxlength="100">
      <div class="invalid-feedback">
        Please provide a valid expression.
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="updatedAfter" class="sr-only">Updated After</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Updated After</span>
        </div>
        <input type="date" class="form-control" id="updatedBefore" name="updatedAfter"
          value="<%= searchOptions.updatedAfter %>">
        <div class="invalid-feedback">
          Please provide a valid date.
        </div>
      </div>
    </div>

    <div class="form-group col-md-5">
      <label for="updatedBefore" class="sr-only">Updated Before</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Updated Before</span>
        </div>
        <input type="date" class="form-control" id="updatedBefore" name="updatedBefore"
          value="<%= searchOptions.updatedBefore %>">
        <div class="invalid-feedback">
          Please provide a valid date.
        </div>
      </div>
    </div>
    
    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-info">Search</button>
    </div>
  </div>
</form>